<form method="POST" action="/new">
    <input type="text" placeholder="Your Name" id="name" name="name"/>
    <textarea id="msg" name="msg" rows="5" cols="35">Enter your message here</textarea>
    <button type="submit">Post Message</button>
</form>